*{
  margin: 0;
  padding:0 ;
}

.app__header {
  position: sticky;
  top: 0;
 object-fit: contain;
 background-color: #fff;
 padding: 15px;
 border-bottom: 1px solid lightgray;
 display: flex;
 justify-content: space-between;
 
}
.app__header img{
  object-fit: contain;
  height: 29px;
 width: 103px;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {

margin-left: 20px;
position: fixed;
left: 68vw;
}

.app__postsLeft {
  
}
img.app__headerImage {
  width: 109px;
}



.app{
  background-color: #fafafa;
  height: 100%;
}

.app__signup {
  display: flex;
  flex-direction: column;
}